.sudoku-text-area {
    -fx-font-size: 22px;
    -fx-alignment: center;
    -fx-border-color: black;
    -fx-border-width: 0.5;
    -fx-padding: 0 0 0 0;
    -fx-text-fill: gray;
}

.bottom-border-thick {
    -fx-border-width: 0.5 0.5 2.5 0.5;
}

.right-border-thick {
    -fx-border-width: 0.5 2.5 0.5 0.5;
}

.up-border-thick {
    -fx-border-width: 2.5 0.5 0.5 0.5;
}

.left-border-thick {
    -fx-border-width: 0.5 0.5 0.5 2.5;
}

.up-left-border-thick {
    -fx-border-width: 2.5 0.5 0.5 2.5;
}

.bottom-left-border-thick {
    -fx-border-width: 0.5 0.5 2.5 2.5;
}

.up-right-border-thick {
    -fx-border-width: 2.5 2.5 0.5 0.5;
}

.bottom-right-border-thick {
    -fx-border-width: 0.5 2.5 2.5 0.5;
}

.initial-number {
    -fx-text-fill: black;
}

.possible-values {
    -fx-font-size: 12px;
    -fx-text-fill: green;
}

.sudoku-text-area .text {
    -fx-text-alignment: center;
}

.text-area .scroll-bar:vertical {
    -fx-pref-width: 1;
    -fx-opacity: 0;
}

.text-area .scroll-bar:horizontal {
    -fx-pref-height: 1;
    -fx-opacity: 0;
}

.text-area.error {
    -fx-control-inner-background: #FFCCCC;
}
.hint {
    -fx-text-fill: red;
}